.blinkingButton {
    animation: blink-animation 1s infinite; /* Use the blink-animation with a 1-second duration, repeated infinitely */
}

@keyframes blink-animation {
    0% {
        opacity: 1; /* Start with full opacity */
    }
    50% {
        opacity: 0.5; /* Fade out at 50% of the animation */
    }
    100% {
        opacity: 1; /* Back to full opacity at the end of the animation */
    }
}

#done {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 330px;
    height: 60px;
    margin: auto;
    font-size: 25px;
    font-family: arial;
    border-radius: 10px;
    border: none;
    background-color: #FB7A71;
    cursor: pointer;
    color:white;
}

#doneTimer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}