#eggPage {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 80px;
    font-family: arial;
    text-align: center;
}

#eggSize > div,
#eggHardness > div {
    display: flex;
    gap: 37px;
}

#s, #m, #l {
    height: 65px;
    width: 85px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

#soft, #medium, #hard {
    height: 65px;
    width: 85px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

#eggSize > p:nth-child(1),
#eggHardness > p:nth-child(1) {
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 20px;
}

.eggImageSoft {
    background-image: url("../Media/soft-boiled-egg.png");
    height: 90px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.eggImageMedium {
    background-image: url("../Media/medium-boiled-egg.png");
    height: 90px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.eggImageHard {
    background-image: url("../Media/hard-boiled-egg.png");
    height: 90px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#backButton {
    position: absolute;
    top: 2%;
    left: 12%;
    font-size: 50px;
    font-family: Arial;
    cursor: pointer;
}

