@font-face {
    font-family: Dosis;
    src: url("../Media/fonts/Dosis/Dosis-VariableFont_wght.ttf");
}

@font-face {
    font-family: Mada;
    src: url("../Media/fonts/Mada/Mada-VariableFont_wght.ttf");
}


#eggPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 160px;    
    text-align: center;
    font-family: Mada;
}

#eggSize > div,
#eggHardness > div {
    display: flex;
    gap: 37px;
}

div > div > div > div button {
    height: 65px;
    width: 85px;
    font-size: 17px;
    font-weight: regular;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.04);
    font-family: Mada;
}

#eggSize > p:nth-child(1),
#eggHardness > p:nth-child(1) {
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 25px;
    font-family: Mada;
}

.eggImageSoft {
    background-image: url("../Media/soft.png");
    height: 90px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.eggImageMedium {
    background-image: url("../Media/medium.png");
    height: 90px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.eggImageHard {
    background-image: url("../Media/hard.png");
    height: 90px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#backButton {
    position: absolute;
    left: 4%;    
    top: 0;
    font-size: 80px;
    font-family: Arial;
    cursor: pointer;
    font-family: Dosis;
    font-weight: 500;
    margin: 0;
    color: #d7d3d3;;
}

#backButton:active {
    color:#edebeb;
}

.marked {
    background-color: #e0e0e0;
    color: #fff;
}

#middleLine {
    width: 100%;
    background-color: #FFBF75;
    padding-top: 1px;
}