#homePage {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.line {
    width: 100%;
    background-color: #FFBF75;
    padding-top: 1px;
    margin-top: 50px;
}

#startInfo {
    height: 400px;
    width: 330px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    font-family: Mada;
}

#startInfo > p {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-family: Mada;
    line-height: 1.8;
    margin-bottom: 0;
}

#startInfo > div:nth-child(2) {
    background-image: url("../Media/boilingWater4.png");
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;

}

#next {
    position: absolute;
    left: 0;
    right: 0;
    width: 330px;
    height: 60px;
    margin: auto;
    font-size: 30px;
    font-family: arial;
    border-radius: 20px;
    border: none;
    background-color: #FFBF75;
    cursor: pointer;
    bottom: 50px;

    color: white;
    font-family: Mada;
}

#next:active {
    background-color: #FFDCA7;
}