
#start {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 330px;
    height: 60px;
    margin: auto;
    font-size: 30px;
    font-family: arial;
    border-radius: 20px;
    border: none;
    background-color: #0000004a;
    color: white;
    cursor: pointer;
    background-color: #FFBF75;
    transition-property: background-color;
    transition-duration: 1s;
}

#timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 45px;
    margin-top: 25px;
    font-family: Mada;
}

#bigEggImage {
    height: 400px;
    width: 350px;
    align-self: center;
    background-image: url("../Media/egg.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#startTimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 200px;
    font-family: arial;
    text-align: center;
}

#start.pause {
    background-color: #FB7A71;
}